/* Reset CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
ul,
li {
  list-style: none;
}

input,
button {
  border: none;
}

input:focus,
button:focus {
  box-shadow: none;
  outline: none;
}

/* Basic Design */

body {
  background-color: #60a3bc;
}

.whole {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

/* Leftside */
.left {
  width: 50%;
  font-family: "Noto Serif", serif;
}

.js-clock h1 {
  font-size: 120px;
  color: #fff;
}
.new_events {
  color: #f6f8fa;
}
.links_dates {
  color: red;
}

.date_calend {
  color:red;
}
.event {
  color:#fff;
}
.form input {
  width: 50%;
  height: 36px;
  padding: 0 12px;
  margin-bottom: 40px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f6f8fa;
  color: #333e47;
}

.form input:focus {
  border: 1px solid #2860e1;
}

.greetings {
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  color: #fff;
}

/* Rightside */
.right {
  width: 30%;
  font-family: "Roboto", serif;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 3%;
  top: 5%;
  width: 50%;
  height: 80%;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(248, 247, 247, 0.452);
}

.js-toDoForm label {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  font-family: "Noto Serif", serif;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  color: #333e47;
}

.js-toDoForm input {
  width: 90%;
  margin-left: 4%;
  left: 100%;
  height: 20px;
  padding: 0 12px;
  margin-bottom: 50px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f6f8fa;
  color: #333e47;
}

.js-toDoForm input:focus {
  border: 1px solid #2860e1;
}

.js-toDoList li {
  margin-bottom: 10px;
  margin-left: 50px;
  text-align: left;
  font-size: 19px;
}

.js-toDoList button {
  padding: 5px;
  margin-right: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #2860e1;
  cursor: pointer;
}

.js-toDoList button:focus {
  font-weight: 700;
  color: #2860e1;
  background-color: #fff;
}
.js-weather {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  color: #fff;
}
.timetitle {
  color: #fff;
}
.Moscow_z71d {
  color: #fff;
  text-decoration: none;
}
.map_title {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  font-family: "Noto Serif", serif;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  color: #333e47;
}
.container_geo {
  margin: 10px;
  left: -10px;
  border-radius: 5px;
  padding: 10px;
  display: block;
  position: relative;
  width: 450px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.596);
}
.googleMap {
  display: block;
  width: 200px;
  height: 300px;
  position: relative;
  margin: 10px;
  padding: 10px;
}
/* Media Query */
@media screen and (max-width: 1280px) {
  .list {
    width: 100%;
  }

  .js-toDoForm input {
    width: 70%;
  }

  .js-toDoList li {
    font-size: 15px;
  }

  .js-toDoList button {
    font-size: 12px;
  }
  
  .js-weather {
    top: 30px;
    right: 30px;
  }
}

/* JavaScript */
.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 500ms linear;
}
